<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <nav class="navbar">
        <div class="navbar-brand">
            <a href="/">
                <img src="{{ url_for('static', filename='images/logo.jpeg') }}" alt="PriceScout" class="loaded_image">
            </a>
        </div>
        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li class="dropdown">
                <a>Get Price</a>
                <div class="dropdown-content">
                    <a href="/postdata/cars">Cars</a>
                    <a href="/postdata/laptops">Laptops</a>
                    <a href="/postdata/mobiles">Mobiles</a>
                </div>
            </li>
            <li><a href="/misc/about">About</a></li>
            <li><a href="/misc/contact">Contact</a></li>
        </ul>
        <div class="user-menu">
            <a href="/logout" onclick="localStorage.setItem('loggedout', 'true');">Logout</a>
            <a href="/userdata/userprofile">Profile</a>
        </div>
    </nav>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/navbar.css') }}">
</head>

</html>